.App {
  background-image: url(./imgs/bgimg.png);
  background-size: stretch;
}

.App-header {
  backdrop-filter: blur(5px);
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  /* padding-bottom: 60px; */
}

.addBtn {
  /* position: absolute;
  top: 0;
  right: 0; */
  border-radius: 10px;
  /* height: 10%; */
  /* width: 60px; */
  /* aspect-ratio: 1; */
  /* margin: 30px; */
  /* margin-top: 60px; */
  font-size: large;
  color: rgb(255, 255, 255);
  background-color: rgba(198, 198, 198, 0.29);
  border: 2px solid rgba(255, 255, 255, 0.71);
  cursor: pointer;
}

.addBtn:active,
.calculateBtn:active {
  background-color: rgba(198, 198, 198, 0.114);
  border: 2px solid rgba(255, 255, 255, 0.502);
}

.calculateBtn {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  font-size: large;
  color: rgb(21, 255, 0);
  background-color: rgba(198, 198, 198, 0.29);
  border: 2px solid rgba(21, 255, 0, 0.795);
}

.calculateBtn:disabled {
  color: gray;
  background-color: rgba(198, 198, 198, 0.29);
  border: 2px solid rgba(255, 255, 255, 0.256);
  cursor: not-allowed;
}
.calculateBtn:disabled:active {
  background-color: rgba(198, 198, 198, 0.29);
  border: 2px solid rgba(255, 255, 255, 0.256);
}

.addBtn:hover,
.calculateBtn:hover {
  background-color: rgba(198, 198, 198, 0.1);
}
